<ion-header>
  <ion-toolbar>
    <ion-item lines="none" class="ion-no-padding">
      <ion-icon spot="start" name="car-sport-outline" color="primary" style="font-size: 64px;"></ion-icon>
      <ion-title mode="md" style="font-size:44px;">iCar</ion-title>
    </ion-item>

    <ion-buttons  slot="end" lines="none" class="ion-no-padding" >
      <ion-button id="buton_sign" color="primary" (click)="next()">Sign Up</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id="titlu">Log in</h1>

  <ion-item>
    <ion-label id="email" position="stacked">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label id="parola" position="stacked">Parola</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button id="buton_continua" color="primary">Continua
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

</ion-content>