
ion-content{

  --ion-background-color:#f2f2f2;
}
.titlu {
  text-align: center;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
}
.logo img {
  width: 40%;
  margin: auto;
}
.firstBtn {
  text-align: center;
  position: absolute;
  top: 35%;
  width: 100%;
  text-transform: uppercase;
}
.btnProgramare {
  margin: 1rem 2rem;
  font-size: 20px;
}

.detalii {
  text-align: center;
  position: absolute;
  top: 65%;
  width: 100%;
  height: auto;
}
// .btnDetalii {
//   margin: 0rem 4rem;
//   font-size: 16px;
//   text-transform: uppercase;
// }

.cameraBtn {
  width: 100%;
  position: absolute;
  top: 80%;
}