<ion-content *ngIf="pendingRequest && loaded">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon id="estimatedTimeCtrl" name="hourglass-outline" size="large"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title color="danger"
        >{{estimatedTime | date : 'hh:mm:ss'}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      Cererea dvs va fi preluată în curând de unul dintre consultanții noștri,
      vedeți mai sus ora estimată.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="people-outline" size="large"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title>{{queLength}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Numărul de ordine al cererii dvs este {{queLength}}.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="document-attach-outline" size="large"></ion-icon>
      </ion-card-subtitle>
      <ion-card-subtitle>Detalii solicitare</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> {{pendingRequest.description}} </ion-card-content>
    <ion-card-content>
      <ion-img [src]="img"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
  *ngIf="!pendingRequest && loaded"
>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vrei consiliere service auto?</ion-card-subtitle>
    <ion-card-title>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Optional poti adauga mai jos detalii cu privire la problema aparuta la masina.
  </ion-card-content>
  
</ion-card>

  <ion-item>
    <ion-label id="label" position="stacked">Nota </ion-label>
    <ion-textarea
      placeholder="descrie problema..."
      type="text"
      id="description"
      name="description"
      [(ngModel)]="description"
      class="form-control"
      require
      rows="5"
    >
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-button color="danger" size="large" (click)="addRequest()"
      >Trimite solicitare</ion-button>
    
  </ion-item>
  
</ion-content>

<ion-content class="ion-padding-top" *ngIf="!loaded">
  <ion-card class="ion-padding-top">
    <ion-card-header class="ion-padding-top">
      <ion-card-subtitle>Se verifică starea...</ion-card-subtitle>
      <ion-card-title>bla bla bla</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <ion-spinner
        name="crescent"
        size="large"
        class="spinner-xl"
      ></ion-spinner>
    </ion-card-content>
  </ion-card>
</ion-content>