<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{pendingInfo}}</ion-card-subtitle>
      <ion-card-title>{{user.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{request.description}} </ion-card-content>
    <img [src]="img" />
  </ion-card>

  <ion-item lines="none">
    <ion-text slot="start">Solicitări în așteptare</ion-text>
    <ion-badge color="primary" size="large" slot="end">{{queLength}}</ion-badge>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-button size="large" slot="end" (click)=>
        <ion-icon name="call-outline" class="ion-margin-end"></ion-icon>
        Apel {{user.name}}
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
<!-- 

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cereri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-label>Pending:</ion-label>
    <ion-item *ngFor="let itm of requests">
      <ion-label style="color : red">{{itm.id}}</ion-label>
      <ion-button (click)="takeTask(itm)">Take</ion-button>
    </ion-item>
  </ion-list>
    <ion-list>
    <ion-label>Call:</ion-label>
    <ion-item *ngFor="let user of users">
      <ion-label style="color : rgb(0, 225, 255)">{{user.name}}</ion-label>
      <ion-label style="color : rgb(0, 225, 255)">{{user.phone}}</ion-label>
      <ion-button (click)="call()" href="tel:{{user.phone}}">Call</ion-button>
    </ion-item>
  </ion-list>
  <br>
  <ion-list>
    <ion-label>In Progress:</ion-label>
    <ion-item *ngFor="let aitm of inProcess">
      <ion-label style="color : yellow">{{aitm.id}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
